.image {
  border: 1px solid #ccc;
  border-radius: 20px;
  overflow: hidden;
  width: 512px;
  height: 512px;
  margin: auto;
  transition: transform 0.3s ease-in-out;
}

.image:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.title {
  color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
  font-size: rem(100px);
  font-weight: 900;
  letter-spacing: rem(-2px);

  @media (max-width: $mantine-breakpoint-md) {
    font-size: rem(50px);
  }
}

