body{
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transition: all 0.2s ease !important;
 
        display: flex;
        flex-direction: column;
        min-height: 100vh;
}